<div class="editor-page mt-1">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-cs-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Name catalog"
                formControlName="name"
              />
            </fieldset>
            <fieldset class="form-group mt-3">
              <textarea
                class="form-control"
                rows="3"
                placeholder="Description"
                formControlName="description"
              ></textarea>
            </fieldset>
            <fieldset class="text-center mt-3">
              <button
                type="button"
                class="btn btn-sm pull-xs-right btn-danger"
                (click)="onCancel()"
              >
                Cancel
              </button>
              <button
                type="submit"
                class="btn btn-sm pull-xs-right btn-success btn-submit ms-2"
                [disabled]="form.invalid || isSubmittingProps"
              >
                Save
              </button>
            </fieldset>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
