<app-top-nav-auth></app-top-nav-auth>
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
        <ng-content></ng-content>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img
          src="assets/img/bg-login.jpeg"
          alt="Login image"
          class="w-100 vh-100"
          style="object-fit: cover; object-position: left"
        />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
