<nav
  class="navbar navbar-expand-lg navbar-light fixed-top"
  id="mainNav"
  [ngClass]="{
    'custom-nav-fixed': isFixed,
    'custom-nav-scrolled': isScrolled,
    'navbar-dark-mode': darkMode
  }"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">Bloggo</a
    ><button
      class="navbar-toggler navbar-toggler-right collapsed no-border"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon class="ml-1" [icon]="['fas', 'bars']"></fa-icon>
    </button>
    <div
      class="collapse navbar-collapse navbar-collapse-right"
      [collapse]="isMenuCollapsed"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>

        <li class="nav-item" *ngIf="isUnLoggedIn$ | async">
          <a class="btn btn-primary" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isUnLoggedIn$ | async">
          <a class="nav-link" routerLink="/auth/register">Register</a>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn$ | async">
          <a class="btn btn-primary" routerLink="/article/new">New Post</a>
        </li>
      </ul>
      <div
        class="dropdown"
        style="margin-left: 20px"
        *ngIf="isLoggedIn$ | async"
      >
        <a
          class="text-reset d-flex align-items-center hidden-arrow ml-4"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            [src]="
              (currentUser$ | async)?.avatar || 'assets/img/avatar-smile.png'
            "
            class="rounded-circle ml-4"
            height="30"
            alt=""
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end custom-dropdown"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a
              class="dropdown-item"
              [routerLink]="['/user', 'profile', (currentUser$ | async)?._id]"
              >My profile</a
            >
          </li>
          <li *ngIf="(currentUser$ | async)?.is_sysadmin">
            <a class="dropdown-item" href="#">Category management</a>
          </li>
          <li *ngIf="(currentUser$ | async)?.is_sysadmin">
            <a class="dropdown-item" href="#">User management</a>
          </li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li>
            <a class="dropdown-item" (click)="logout()" type="button">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<main (window:scroll)="onScroll($event)">
  <ng-content></ng-content>
</main>
