@import "styles/variables.scss";

.navbar-collapse-right {
  justify-content: right;
}

.navbar-dark-mode {
  .navbar-brand,
  .navbar-nav .nav-item .nav-link {
    color: black !important;
  }
}
.custom-nav-fixed {
  background: transparent !important;
}
.custom-nav-scrolled {
  background: #ffffff !important;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);

  .navbar-brand,
  .navbar-nav .nav-item .nav-link {
    color: black !important;
  }

  .navbar-nav .nav-item .active {
    color: #ffffff !important;
  }
}
.custom-dropdown {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
