// Import Clean Blog
@import "bloggo/bloggo.scss";

// Import Prism
// @import "prism.scss";
// @import "~bootstrap/dist/css/bootstrap.min.css";

.pointer {
  cursor: pointer;
}

.full-background {
  background-color: $gray-800;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 10rem;
}

#mainNav,
#navAuth .btn {
  font-size: 0.75rem;
  padding: 0.75rem 1rem;
}

.no-border {
  border: none;
}
.toast-container {
  font-size: 16px !important;
}

.active {
  color: #ffffff !important;
  background-color: #0085a1;
  // padding-left: 5px;
  // padding-right: 5px;
}
.container-table {
  // padding: 0 10px 10px 10px;
  // background-color: #ffffff;
  // box-shadow: 0 -10px 20px -5px rgba(0, 0, 0, 0.2);
  // border-radius: 5px;
}
.btn-top-tables {
  float: right;
  margin-bottom: 16px;
  button {
    color: #ffffff !important;
    border-radius: 5px;
  }
}

.button-close-modal {
  background-color: transparent;
  border: none;
}
