<app-layout-management [darkMode]="true" [distance]="50">
  <div class="catalog-management">
    <div class="btn-top-tables">
      <button
        type="button"
        class="btn btn-primary"
        (click)="openModal(template)"
      >
        New catalog <ng-icon name="heroPlus"> </ng-icon>
      </button>
    </div>
    <div class="container-table">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let catalog of (listCatalogs$ | async)?.data?.docs">
            <td>{{ catalog._id }}</td>
            <td>{{ catalog.name }}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn rounded-pill bg-transpảent">
                  <ng-icon name="heroPencil"></ng-icon>
                </button>
                <button
                  type="button"
                  class="btn ms-1 rounded-pill"
                  (click)="onDelete(catalog._id)"
                >
                  <ng-icon name="heroTrash"> </ng-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination
      [totalItems]="(listCatalogs$ | async)?.data?.totalDocs || 0"
      [(ngModel)]="currentPage"
      [itemsPerPage]="10"
    ></pagination>

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left h6">Add new catalog</h4>
        <button
          type="button"
          class="close pull-right button-close-modal"
          aria-label="Close"
          (click)="modalRef.hide()"
        >
          <ng-icon name="heroXMark"></ng-icon>
        </button>
      </div>
      <div class="modal-body">
        <app-catalog-form
          [initialValues]="initialValues"
          [isSubmitting]="isSubmitting$ | async"
          [errors]="backendErrors$ | async"
          (formSubmit)="onSubmit($event)"
          (formCancel)="onCancel()"
        ></app-catalog-form>
      </div>
    </ng-template>
  </div>
</app-layout-management>
