<app-layout-management [darkMode]="true" [distance]="50">
  <div class="user-management">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>STT</th>
          <th>Ussername</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn rounded-pill bg-transpảent">
                <ng-icon name="heroPencil"></ng-icon>
              </button>
              <button type="button" class="btn ms-1 rounded-pill">
                <ng-icon name="heroTrash"> </ng-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination
      [totalItems]="users.length"
      [(ngModel)]="currentPage"
      [itemsPerPage]="5"
    ></pagination>
  </div>
</app-layout-management>
