<div
  *ngIf="feed$ | async"
  infinite-scroll
  [infiniteScrollDistance]="1"
  [infiniteScrollUpDistance]="1"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScrollDown($event)"
  (scrolledUp)="onScrollUp($event)"
>
  {{ setPage(feed$ | async) }}

  <div
    class="article-preview"
    *ngFor="let article of (feed$ | async)?.data?.docs"
  >
    <div class="article-meta">
      <a [routerLink]="['/user', 'profile', article.user._id]">
        <img [src]="article.user.avatar || 'assets/img/avatar-smile.png'" />
      </a>
      <div class="info">
        <a [routerLink]="['/user', 'profile', article.user._id]" class="user">
          {{ article.user.username }}
        </a>
        <span class="date">{{ article.created_at }}</span>
      </div>
    </div>
    <a [routerLink]="['article', 'detail', article._id]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.subtitle }}</p>
      <span>Read more..</span>
    </a>
  </div>
</div>
